@use "../abstracts/breakpoints" as bp;
footer {
	display: grid;
	place-items: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-top: 2.25rem;
	@include bp.small {
		position: relative;
	}
	#made {
		display: flex;
		align-items: center;
		img {
			width: 2.5rem;
			height: 2.5rem;
			padding: 0 0.5rem;
			filter: var(--filter2);
		}
	}
}
