header {
	height: 3.5rem;
	#logo {
		position: absolute;
		line-height: 1.3;
		font-weight: bold;
		&:hover,
		&:focus {
			color: var(--color3);
		}
	}
	button {
		position: absolute;
		right: 0;
		img {
			width: 3.4rem;
			height: 3.4rem;
		}
		&:hover,
		&:focus {
			filter: var(--filter3);
		}
	}
}
#header {
	display: grid;
	place-items: center;
	padding-bottom: 0.75rem;
	img {
		width: 15rem;
		height: 15rem;
		border-radius: 50%;
	}
	a {
		display: flex;
		align-items: flex-end;
		img {
			width: 2.5rem;
			height: 2.5rem;
			padding: 0 0.65rem;
			filter: var(--filter2);
		}
		&:hover,
		&:focus {
			text-decoration: underline;
			color: var(--color3);
		}
	}
}
