<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="generator" content="" />
		<title>Ashton Heald - Links</title>
		<meta name="title" content="Ashton Heald - Links" />
		<meta name="description" content="Discover the world of Ashton G. Heald. Follow Ash's online presence through a curated list of personal, professional, and social links." />
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://ashtonheald.me/" />
		<meta property="og:title" content="Ashton Heald - Links" />
		<meta property="og:description" content="Discover the world of Ashton G. Heald. Follow Ash's online presence through a curated list of personal, professional, and social links." />
		<meta property="og:image" content="https://ashtonheald.me/screenshot1.webp" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://ashtonheald.me/" />
		<meta property="twitter:title" content="Ashton Heald - Links" />
		<meta property="twitter:description" content="Discover the world of Ashton G. Heald. Follow Ash's online presence through a curated list of personal, professional, and social links." />
		<meta property="twitter:image" content="https://ashtonheald.me/screenshot1.webp" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="preload" href="/fonts/waterfall-latin-400-normal.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
		<link rel="preload" href="/fonts/josefin-sans-latin-400-normal.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
<script type="text/javascript">
  (function () {
    emailjs.init("8PhuMhkMRUrBunrkl");
  })();
</script>
<script type="text/javascript">
  window.onload = function () {
    var errorElement = document.getElementById("error-message");
    var successElement = document.getElementById("success-message");

    document.getElementById("contact-form").addEventListener("submit", function (event) {
      event.preventDefault();
      errorElement.innerText = "";
      successElement.innerText = "";

      emailjs.sendForm("contact_service", "links_form", this).then(
        function () {
          successElement.innerText = "Message Sent Successfully!";
        },
        function (error) {
          errorElement.innerText = "Unable to send message. Please try again later.";
          console.log(error);
        }
      );
    });
  };
</script>
	</head>
	<body class="bg-neutral-200 font-josefin text-neutral-950 h-screen w-full grid place-items-center">
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Waterfall";
		src: url("/fonts/waterfall-latin-400-normal.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Josefin Sans";
		src: url("/fonts/josefin-sans-latin-400-normal.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	a:focus {
		outline: none;
	}
</style>
